@media (min-width:768px) and (max-width:959px) {
    .wrap {
        min-width: 768px;
        max-width: 959px;
    }

    .mountain {
        height: 728px;
        background: url('../img/bg-mount.jpg') 58% 0 repeat;
    }

    header {
        height: 100px;
        margin-bottom: 74px;
    }

    .header__logo {
        margin-bottom: 29px;
        float: none;
    }

    .menu {
        float: none;
    }

    .menu__link {
        padding: 0 8px 0 0;
    }
    /* END header */

    .mountain__slider {
        margin-bottom: 35px;
    }

    .slider__item {
        width: 36%;
        margin-top: 94px;
        margin-left: 3.1%;
    }

    .slider__title {
        margin-bottom: 3px;
        font-size: 48px;
        letter-spacing: -.3px;
    }

    .slider__subtitle-xl {
        display: none;
    }

    .slider__subtitle-l {
        display: block;
        margin-bottom: 8px;
        color: #edbfff;
        font-size: 23px;
        letter-spacing: .3px;
        text-transform: uppercase;
    }

    .slider__text-l {
        display: block;
        color: #fff;
        font-family: 'OpenSans Light', Arial, sans-serif;
        font-size: 16px;
        letter-spacing: -.1px;
        line-height: 26px;
    }

    .slider__text-xl {
        display: none;
    }

    .slider__image {
        margin-top: -22px;
        padding-right: 8.7%;
    }

    .mountain__image {
        margin-right: 21%;
        float: right;
    }
    /* END mountain */

    .description {
        height: 261px;
        padding-top: 79px;
    }

    .description__box {
        width: 96%;
    }

    .description__item {
        width: 22%;
    }

    .description__title {
        margin-bottom: 5px;
        font-size: 25px;
        letter-spacing: -.4px;
    }

    .description__item--key::before {
        top: -1px;
        left: 11px;
    }

    .description__text-xl {
        display: none;
    }

    .description__text-l {
        display: block;
        margin-bottom: 19px;
        color: #fff;
        font-family: 'OpenSans Light', Arial, sans-serif;
        font-size: 16px;
        letter-spacing: -.1px;
        line-height: 24px;
    }

    .description__extra {
        margin: -12px 10%;
    }

    .description__item:nth-child(2) {
        padding-left: 54px;
    }

    .description__item--cloud::before {
        top: -1px;
        left: 2px;
        background-position: 0 0;
    }

    .description__item--note::before {
        top: -1px;
        left: 10px;
        background-position: 0 0;
    }
    /* END description */

    .info__slider {
        width: 337px;
        background-position: 24px 0;
    }

    .info__bio {
        padding: 29px 25px 0 62px;
    }

    .bio__title {
        display: block;
        margin-left: 0;
        font-size: 24px;
    }

    .info__item--pic1::before {
        content: url('../img/upd-pic1-l.png');
    }

    .info__item--pic2::before {
        content: url('../img/upd-pic2-l.png');
    }

    .info__item--pic3::before {
        content: url('../img/upd-pic3-l.png');
    }

    .bio__text-xl {
        display: none;
    }

    .bio__text-l {
        display: block;
        margin-top: 8px;
        color: #454545;
        font-family: 'OpenSans Light', Arial, sans-serif;
        font-size: 16px;
        letter-spacing: -.1px;
        line-height: 24px;
    }

    .info__light-switch {
        margin: 19.5% 41%;
    }

    .info__updates {
        padding-right: 1.7%;
    }

    .info__text-xl {
        display: none;
    }

    .info__text-l {
        display: block;
        margin-top: -1px;
        color: #454545;
        font-family: 'OpenSans Light', Arial, sans-serif;
        font-size: 16px;
        letter-spacing: -.1px;
        line-height: 26px;
    }

    .info__extra-xl {
        display: none;
    }

    .info__extra-l {
        display: block;
        margin: 2px 9%;
        float: right;
        color: #454545;
        font-family: 'League Gothic Regular', Arial, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
    }
    /* END info */

    .sponsors__box {
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }

    .sponsors__link {
        margin-right: 56px;
    }

    .sponsors__link:nth-child(3) {
        margin-right: 58px;
    }

    .sponsors__link:nth-child(4) {
        margin-right: 45px;
    }

    .sponsors__link:last-child {
        margin-right: 0;
    }
    /* END sponsors */

    .news {
        height: 292px;
        padding-top: 103px;
    }

    .news__box {
        width: 95.7%;
    }

    .news__item-xl {
        display: none;
    }

    .news__item-l {
        display: block;
        width: 28.1%;
    }

    .indent {
        margin-left: 3px;
    }

    .news__title {
        margin-bottom: 8px;
        font-size: 23px;
    }
    /* END news */

    footer {
        height: 201px;
    }

    .menu--footer {
        margin: 0 0 0 -1px;
        padding-top: 42px;
    }

    .menu__link--footer {
        margin-right: -6px;
    }

    .footer__info {
        margin-top: 30px;
        margin-right: 5.3%;
    }
    /* END footer */
}

@media (min-width:480px) and (max-width:767px) {
    .wrap {
        min-width: 480px;
        max-width: 767px;
    }

    .mountain {
        height: 480px;
        background: url('../img/bg-mount.jpg') 50% 0 repeat;
    }

    header {
        margin-bottom: 91px;
    }

    .mountain__slider {
        height: 246px;
        margin-bottom: 0;
    }

    .header__logo {
        margin: 2px auto 20px;
        float: none;
    }

    .menu {
        display: none;
        /*width: 243px;*/
        /*float: none;*/
        /*margin: 0 auto;*/
        /*background-color: rgba(49, 37, 55, .9);*/
        /*border: 1px solid #0f1a20;*/
        /*border-radius: 9px;*/
    }

    .menu__item {
        padding: 5px auto;
        float: none;
        border-bottom: 1px solid #000;
    }

    .menu__item:first-child {
        padding: 11px 0 4px 0;
        border-bottom: 1px solid #000;
    }

    .slider__image {
        width: 192px;
        margin: -9px 31px 0 0;
        padding-right: 0;
    }

    .slider__item {
        width: 205px;
        margin: 82px 0 0 40px;
        letter-spacing: -.4px;
    }

    .slider__title {
        font-size: 37px;
    }

    .slider__subtitle-xl {
        display: none;
    }

    .slider__subtitle-l {
        display: block;
        margin-top: -8px;
        margin-bottom: 8px;
        color: #edbfff;
        font-size: 18px;
        letter-spacing: 0;
        text-transform: uppercase;
    }

    .slider__text-xl {
        display: none;
    }

    .mountain__dark-switch {
        width: 100%;
        overflow: visible;
    }

    .mountain__image {
        position: absolute;
        margin: 21px 0 0 15.4%;
        float: none;
    }
    /* END mountain */

    .description {
        height: 517px;
        padding-top: 79px;
    }

    .description__box {
        display: block;
    }

    .description__item {
        width: 77%;
        padding-left: 17.4%;
    }

    .description__item:nth-child(2) {
        margin-bottom: 40px;
        padding-left: 17.4%;
    }

    .description__item--key::before {
        top: -1px;
        left: 31px;
    }

    .description__title {
        margin-bottom: 5px;
        font-size: 24px;
        letter-spacing: -.1px;
    }

    .description__text-xl {
        margin-bottom: 36px;
    }

    .description__extra {
        position: absolute;
        top: 113px;
        right: -10%;
    }

    .description__item--cloud .description__extra {
        margin-right: 10%;
    }

    .description__item--cloud::before {
        background-position: 0 0;
    }

    .description__item--note::before {
        top: -1px;
        left: 31px;
        background-position: 0 0;
    }
    /* END description */

    .info {
        height: 716px;
        padding-top: 70px;
    }

    .info__box {
        display: block;
    }

    .info__slider {
        width: 460px;
        margin-bottom: 41px;
        background-position: 45px -40px;
        background-size: 491px;
    }

    .info__bio {
        width: 378px;
        height: 211px;
        padding: 28px 7px 0 81px;
    }

    .bio__title {
        letter-spacing: .2px;
    }

    .bio__title--pink::before {
        left: 20px;
    }

    .bio__text-xl {
        margin-top: 14px;
        letter-spacing: 0;
    }

    .info__light-switch {
        margin: 56px 0 0 44.3%;
    }

    .info__updates {
        width: 100%;
    }

    .info__text-xl {
        display: none;
    }

    .info__text-l {
        display: block;
    }

    .info__title {
        margin-left: 17.1%;
    }

    .info__item {
        margin: 0 0 22px 81px;
    }

    .info__item--pic1::before {
        left: 84px;
        content: url('../img/upd-pic1-m.png');
    }

    .info__item--pic2::before {
        left: 84px;
        content: url('../img/upd-pic2-m.png');
    }

    .info__item--pic3::before {
        left: 84px;
        content: url('../img/upd-pic3-m.png');
    }

    .info__extra-xl {
        display: none;
    }

    .info__extra-l {
        display: block;
        margin: 0 12.4%;
        float: right;
        color: #454545;
        font-family: 'League Gothic Regular', Arial, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
    }
    /* END info */

    .sponsors {
        height: 230px;
    }

    .sponsors__box {
        width: 480px;
        padding-top: 36px;
    }

    .sponsors__link {
        margin: 0 20px 0 35px;
    }

    .sponsors__link:nth-child(4) {
        margin: 22px 13px;
    }

    .sponsors__link:nth-child(5) {
        margin: 22px 17px 0 35px;
    }

    .sponsors__link:nth-child(6) {
        margin: 22px 17px 0 35px;
    }
    /* END sponsors */

    .news {
        height: 589px;
        padding-top: 79px;
    }

    .news__box {
        display: block;
    }

    .news__item-xl {
        display: none;
    }

    .news__item-m {
        display: block;
        margin: 0 0 56px 18px;
    }

    .news__item-m:last-child {
        margin-top: 59px;
    }

    .news__title {
        margin-bottom: 9px;
        font-size: 24px;
        letter-spacing: 0;
    }
    /* END news */

    footer {
        height: 202px;
    }

    .footer__info {
        padding: 101px 0 0 171px;
        float: none;
    }
    /* END footer */
}
